apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  project: kubernetes
  sources:
    - chart: kube-prometheus-stack
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 69.2.1
      helm:
        values: |
          prometheus:
            prometheusSpec:
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes: ["ReadWriteOnce"]
                    resources:
                      requests:
                        storage: 20Gi
              serviceMonitorSelectorNilUsesHelmValues: false
              podMonitorSelectorNilUsesHelmValues: false
          alertmanager:
            alertmanagerSpec:
              storage:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes: ["ReadWriteOnce"]
                    resources:
                      requests:
                        storage: 5Gi
          grafana:
            deploymentStrategy:
              type: Recreate
            grafana.ini:
              server:
                serve_from_sub_path: true
            persistence:
              enabled: true
              type: pvc
              storageClassName: longhorn
              accessModes: ["ReadWriteOnce"]
              size: 1Gi
    - path: ./kubernetes-services/additions/prometheus
      repoURL: https://github.com/procinger/turing-pi-v2-cluster.git
      targetRevision: main
    - chart: loki-stack
      repoURL: https://grafana.github.io/helm-charts
      targetRevision: 2.10.2
      helm:
        values: |
          grafana:
            enabled: false
          prometheus:
            enabled: false
          promtail:
            enabled: true
            config:
              logLevel: info
              serverPort: 3101
              clients:
                - url: http://prometheus-loki:3100/loki/api/v1/push
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
